@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bebas+Neue&family=Orbitron:wght@400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background-color: #e2c5a7;
    height: 100vh;
}   

.container h1 {
    font-size: 3rem;
    color: #b53147;
}

.timer {
    display: flex;
    font-size: 55px;
    font-weight: bold;
    color: #282728;
}

.time {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    color: #282728;
    min-width: 90px;
}

.separator {
    padding: 0 10px;
    color: #282728;
}

#milliseconds {
    font-size: 30px;
    color: #333233c9;
}

.buttons {
    display: flex;
    gap: 1rem;
}

.btn {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #CCC;
    transition: all 0.2s ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

#startBtn {
    background-color: #b53147;
    color: #fff;
}

#pauseBtn, #resumeBtn {
    display: none;
}